<h1>Current Weather for <%= city %>, <%= state %></h1>
<ul>
  <li>Current Temperature: <%= temp_hash["temp"] %> <%= temperature_type %></li>
  <li>Minimum Temperature: <%= temp_hash["temp_min"] %> <%= temperature_type %></li>
  <li>Maximum Temperature: <%= temp_hash["temp_max"] %> <%= temperature_type %></li>
</ul>
<a href="/">Check Another City</a>